<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811775765580-b4ve49ljg0adc5bc5j211na4ei6at6sl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811775765580-b4ve49ljg0adc5bc5j211na4ei6at6sl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>811775765580-5up0hr3d4mn1lqredlpq9jtdbu3f1cpm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAJdDY6GKVdlXoguAKfKicZIGdtycDOq7s</string>
	<key>GCM_SENDER_ID</key>
	<string>811775765580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quydn720.expenseTracker.dev</string>
	<key>PROJECT_ID</key>
	<string>expense-tracker-dev-d39f8</string>
	<key>STORAGE_BUCKET</key>
	<string>expense-tracker-dev-d39f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811775765580:ios:d23d98dc0e7ea2f2b698e9</string>
</dict>
</plist>